/* NEW */
.cGDPR {
  z-index: 99999 !important;
}
.cWSO2MobileNav header {
  z-index: 9999 !important;
}
body {
  background-color: #ffffff !important;
}
.ChoDesktop {
  display: block;
}
.ChoMobile {
  display: none;
}
.cTableHead,
.cTableContent,
.cTableEnd,
.cTableContentLeft {
  text-align: left;
  font-size: 16px !important;
  padding: 1.2rem 1rem;
}
.zIndexFooter {
  z-index: 999;
  background-color: #5567d5;
  padding: 7rem 0;
}
.zIndexFooter h2 {
  color: #ffffff !important;
}
.cFooter {
  z-index: 99;
}
.cPaddingZero {
  padding: 0;
}
#myCarousel .list-inline {
  white-space: nowrap;
  overflow-x: auto;
}

#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
}
img.cVideoThumbImage:hover {
  cursor: pointer;
}
#myCarousel .carousel-indicators > li {
  width: 70px;
  height: 70px;
  text-indent: initial;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

#myCarousel .carousel-indicators > li.active img {
  opacity: 0.7;
}
.carousel-item {
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out !important;
}
.carousel-item.carousel-item-next.carousel-item-left {
  transition: all 0.6s ease 0.4s;
}
.border {
  border-radius: 10px;
  border: 1px solid #e6e7ec;
}
.pb-2,
.py-2 {
  padding-bottom: 0 !important;
  border-radius: 10px;
}
h2.Step {
  padding-top: 0.7rem;
  color: #ffffff !important;
  font-size: 2.5rem;
}
.cNumbercarousel {
  background-color: #f7f8fb;
  text-align: center;
}
.carouselDes {
  position: absolute;
  background-color: #f7f8fb;
  color: #40404b;
  width: 100%;
}
.carouselDes h2 {
  padding-bottom: 1rem;
  font-size: 4rem;
  color: #999;
}
a.cSocialButton,
button.cSocialButton {
  border-radius: 320px;
}
.cChoreoButtonRaD {
  background-color: #ffffff !important;
  word-spacing: 3px;
  letter-spacing: 0.5px !important;
  line-height: 16px;
  text-align: center;
  padding: 14px 30px;
  display: inline-block;
  text-transform: none;
  color: #000000 !important;
  border: solid 1px #000000 !important;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 0.5rem;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  cursor: pointer;
}
.zIndexFooterx .cChoreoButton:hover {
  background-color: #000 !important;
  text-decoration: none !important;
}
.zIndexFooter .cChoreoButton:hover {
  background-color: #000 !important;
  text-decoration: none !important;
}
.cChoreoButtonRaD:hover {
  cursor: pointer;
  text-decoration: none !important;
  background-color: #000000 !important;
  color: #fff !important;
}
.cChoreoSection p {
  color: #494848;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 2.5rem;
}
.cChoreoSection.cIntro {
  /* background-image: url(//wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/img/homepage-bg.png); */
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 790px;
  padding-bottom: 6rem;
  padding-top: 6rem !important;
}
img.cSmallIcon {
  width: 45px;
  padding-top: 1rem;
}
.cCenterTitleCOniatierx {
  text-align: left;

  padding: 1rem 3rem 0rem 0rem;
}
.cCenterTitleCOniatierx h2 {
  color: #000000 !important;
}
.cCenterTitleCOniatierx p {
  color: #000000;
  padding-right: 2rem;
}
.cCenterTitleCOniatiery h2 {
  color: #000000 !important;
}
.cCenterTitleCOniatiery p {
  color: #000000;
  padding-right: 0rem;
}
.cCenterTitleCOniatiery {
  padding-left: 2.5rem;
  padding-top: 2rem;
}
.text-center {
  padding: 1rem 0rem 1rem 0rem;
}
.cPaddingZero {
  padding-left: 0;
  padding-right: 0;
}
.cPurpleSec {
  background-image: url(//wso2.cachefly.net/wso2/sites/all/2022/choreo/choreo-background-strip-purpleh.png);
  background-repeat: repeat-y;
  border-top: solid 1px #eee;
  width: 100%;
  background-size: 104%;
  padding: 5rem 0 !important;
}
.cPurpleSecRevert {
  background-image: url(//wso2.cachefly.net/wso2/sites/all/2022/choreo/choreo-strip-reverse.png);
  background-repeat: repeat-y;
  width: 100%;
  background-size: 100%;
  padding: 6rem 0 !important;
}

.carousel-indicators li {
  background-color: #5567d5;
  width: 20px;
}
.cCenterTitleCOniatier {
  text-align: center;
}
.cSecurityPanel {
  text-align: center;
  padding: 1rem;
}
.cRightContent {
  padding-top: 5rem;
}

.cAICardContainerx {
  box-sizing: border-box;
  height: 458px;
  border: 1px solid #e6e7ec;
  border-radius: 8px;
  background-color: #f7f8fb;

  overflow: hidden;
}
img.cSmallIconx {
  padding-top: 3rem;
}
img.cSmallIcony {
  border-radius: 10px;
  border: 1px solid #e6e7ec;
  padding-top: 3rem;
  background-color: #f7f8fb;
}
.DevDiagram {
  background-color: #ffffff;
  padding: 3rem 2rem;
  border-radius: 10px;
  border: 1px solid #e6e7ec;
  z-index: 999;
}
img.BallerinaC {
  z-index: 999;
  margin-top: 5rem;
}
.cGif {
  background-color: #e6e7ec;
  padding: 3rem 0rem;
  border-radius: 10px;
  border: 1px solid #e6e7ec;
  z-index: 999;
}

/* B SIDE TOOLTIP */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #000000;
  border: solid 2px #000000;
}

.nav-pills .nav-link {
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #999;
  vertical-align: top;
  overflow: hidden;
  padding: 0;
  background-color: #ffffff;
  text-indent: -999%;
  margin-bottom: 0.5rem;
}

#myScrollspy {
  left: 15px;
  border-radius: 50%;
  top: 50%;

  z-index: 999;
  position: fixed;
}
/* END B SIDE TOOLTIP */

/* SIDE TOOLTIP */

section {
  z-index: 1;
  position: relative;
}

/* NEW  END*/

.cWSO2DeskNav {
}

.cSectionAboveHighlight {
  padding-bottom: 12rem !important;
}

.cSectionAboveHighlight {
  padding-bottom: 12rem !important;
}

.cSectionBelowHighlight.cBenefits2 {
  padding-top: 8rem !important;
}

.cHighlightedRow {
  margin: -11.75rem 0 !important;
  position: relative;
  display: block;
}
svg {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.cChoreoSection {
  padding: 7rem 0;
  color: #40404b;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.cChoreoNav a {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.cTagContainer {
  display: inline-block;
  margin-bottom: 3rem;
  width: 100%;
}
.cChoreoButton {
  background-color: #000000;

  letter-spacing: 0.5px !important;
  line-height: 16px;
  text-align: center;
  padding: 12px 34px;
  display: inline-block;
  text-transform: none;
  color: #fff !important;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  word-spacing: 3px;
  border: solid 1px #000000 !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  cursor: pointer;
}
.cChoreoButton:hover {
  text-decoration: none !important;
  background-color: #5567d5 !important;
  border: solid 1px #5567d5 !important;
  color: #fff !important;
}

.cChoreoButton.cNavButton {
  padding-top: 0 !important;
  color: #fff !important;
}

.cChoreoNav.navbar {
  box-shadow: none;
}

.cChoreoSection p,
.cChoreoSection h1,
.cChoreoSection h2,
.cChoreoSection h3,
.cChoreoSection h4,
.cChoreoSection h5,
.cSmallIcon {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.cTag {
  color: #1d2028;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16px;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 10px;
  display: inline-block;
  margin-bottom: 5px;
}

.cWhiteBackground {
  background-color: #fff;
}

.cGrayBackground,
.cHighlightedSectionGrey {
  background-color: #f7f8fb;
}

.cGrayBackgroundPannel {
  background-image: url(//wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/2022/deep-observability.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
  padding-bottom: 5rem;
  padding: 190px 0;
}

.cGrayBackgroundPannel.cLowcode {
  background-image: none;
}

.cVideoThumb {
  cursor: pointer;
}

.cVideoThumb img {
  border: 4px solid #fff;
  box-shadow: 0 20px 80px -10px rgba(32, 39, 86, 0.35);
  border-radius: 14px;
}
.cVideoThumb p.cSmallTextParagraphs {
  margin-top: 15px;
  display: inline-block;
}

.cChoreoFormField {
  display: inline-block;
  width: 100%;
  color: #8d91a3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #dee0e7, inset 0 2px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 0 rgba(50, 50, 77, 0.07);
  border: none;
  padding: 8px 7px 8px 40px;
  /* background-image: url(  //wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/img/API_Management.svg); */
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 12px 10px;
  margin-bottom: 15px;
}

.cChoreoFormField.user {
  background-image: url(//wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/img/Icon_user.svg);
}
.cChoreoFormField.email {
  background-image: url(//wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/img/Icon_email.svg);
  background-position: 12px 14px;
}

.cFormCol {
  padding-left: 0;
}

.cChoreoSection.cRightImage1 {
  background-image: url(//wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/img/simultaneous-low-code-and-code-2.jpg);

  background-repeat: no-repeat;
  background-position: right top;
  background-size: 57%;
  padding-bottom: 12rem;
}

.cCardContainer {
  display: inline-block;
  padding-top: 3rem;
}
/* .cChoreoSection.cRightImage2 {
	background-image: url(//wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/img/deep-observability.png);

	background-repeat: no-repeat;
	background-position: right top;
	background-size: 50%;
	padding-bottom: 5rem;
} */

.cSmallIcon {
  margin-bottom: 34px;
}

.cGrayBackgroundBox {
  display: inline-block;
  width: 100%;
  position: relative;
}

.cGrayPatch {
  height: 162%;
  width: 55%;
  position: absolute;
  background: #f7f8fb;
  right: 0;
  top: -90px;
}

.cChoreoSection h1 {
  color: #000000;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 3.6rem;
}

.cChoreoSection h2 {
  color: #000;

  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
}

.cChoreoSection h4 {
  color: #40404b;

  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.cChoreoSection p.cSmallTextParagraphs {
  font-size: 14px !important;
  letter-spacing: 0;
  line-height: 22px !important;
}

.cBenefitsContainer {
  display: inline-block;
  padding: 3rem;
}

.cBenefitsContainer img {
  height: 130px !important;
}

.cPlatformContainer {
  display: inline-block;
  width: 100%;

  padding-bottom: 0;
}

.cTileContainer {
  padding: 25px;
  position: relative;

  box-sizing: border-box;
  height: 161px;
  /* width: 161px; */
  border: 1px solid #e6e7ec;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 15px;
  margin-top: 15px;
}

.cTileContainer img {
  width: 30px;
}

.cTileContainer p {
  color: #40404b;
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  bottom: 0;
}

.cAICardContainer {
  box-sizing: border-box;
  height: 288px;
  border: 1px solid #e6e7ec;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 30px;
  overflow: hidden;
}
.cImageCol,
.cTextCol {
  padding: 0;
}

.cImageCol {
}

.cImageCol img {
  width: 100%;
}
.cTextCol {
  padding-left: 30px;
  padding-bottom: 30px;
  position: relative;
}

.cTextCol p {
  position: absolute;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  bottom: 0;
}
.cTextCol img {
  margin-bottom: 50px;
}
.cSpacer {
  height: 245px;
  display: inline-block;
}
.cSpacer2 {
  height: 145px;
  display: inline-block;
}
.cHidemenu {
  display: none !important;
}

.cMObileImage {
  display: none;
}

.cChoreoButton.cMainSignupButtom {
  padding: 14px 30px;

  font-size: 18px;
}
.zIndexFooterx h2 {
  color: #ffffff !important;
}
.zIndexFooter h2 {
  color: #ffffff !important;
}
.cBottomTry {
  background-color: #ffffff !important;
  color: #5567d5 !important;
  border: solid 1px #ffffff !important;
}
.cBottomDemo {
  border: solid 1px #ffffff !important;
  color: #ffffff !important;
  background-color: transparent !important;
}
a.cBottomDemo:hover {
  background-color: #ffffff !important;
  color: #5567d5 !important;
}
/* NAVIGATION */

/* .cChoreoNav.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: #F7F8FB !important;
	box-shadow: none;
	padding-top: 2rem;

}

.cChoreoNav.navbar.navbar-expand-lg.navbar-light.bg-light a {
	padding-top: 0 !important;
}

.cChoreoNav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {


}

.cChoreoNav a.navbar-brand {

	width: 144px;
	padding: 10px 0px 5px 0px !important;
}
.cWSO2DeskNav.navbar{
	box-shadow: none !important;
}
.cChoreoNav a {
	color: #000 !important;
}
.cMenuLinkTracking.cChoreoButton {
	color: #fff !important;
	padding-top: 0 !important;

} */
#navbarDropdownMenuLink.cNavButton {
  margin-left: 15px;
}

.cChoreoNav.navbar.navbar-expand-lg.navbar-light.bg-light {
  box-shadow: none;
  padding-top: 1.5rem;
}

.cChoreoNav.sticky-top {
  position: fixed;
  box-shadow: 1px 3px 4px 0 #adadad33 !important;
  padding-top: 0 !important;
}

.cChoreoNav a {
  color: #000 !important;
}

.cChoreoNav a.nav-link {
  padding-top: 0 !important;
}

.cChoreoNav a.navbar-brand {
  /* font-size: 1.9rem;
	font-weight: 500; */
}
nav.cChoreoNav .nav-link {
  /* padding: 2rem 1rem !important; */
}

.cChoreoNav .cMenuMargin {
  margin-right: 0;
}

.navbar-light .navbar-nav .nav-link {
  /* padding-top: 15px !important;
		padding-bottom: 15px !important; */
  transition: 0.3s;
  padding-left: 15px;
  padding-right: 15px;
  /* font-size: 14px; */
  /* height: 64px; */
  line-height: 44px !important;
}
nav.cChoreoNav a.nav-link.free {
  margin-top: 12px !important;
  border-radius: 3px;
}

.cChoreoNav a.navbar-brand {
  width: 144px;
  padding: 10px 0px 5px 0px !important;
}
.cChoreoNav.cSmallNav a.navbar-brand {
  width: 150px !important;
}

nav.cChoreoNav.sticky-top.cSmallNav .nav-link {
  padding: 0.8rem 1rem !important;
}

.cChoreoNav a.dropdown-item:hover {
  background-color: #525ee2 !important;
  color: #fff !important;
}

.cChoreoNav.sticky-top.cSmallNav a.navbar-brand {
  font-size: 1.6rem;
  font-weight: 500;
}

nav.cChoreoNav a.nav-link.free {
  background: #ff7300;
  padding: 5px 20px !important;
  margin-top: 0px;
  font-weight: 600;
  color: #fff !important;
}

nav.cChoreoNav a.nav-link.free:hover {
  color: #fff !important;
  background: #000 !important;
}

nav.cChoreoNav.sticky-top.cSmallNav a.nav-link.free {
  padding: 0rem 1rem !important;
  /* margin: 4px; */
  margin-top: 17px;
}

section.cDarkGreyBG.cIntroSecond {
  padding-top: 0 !important;
  /* padding-bottom: 0 !important; */
  /* background-color: #222 !important; */
}

.cChoreoNav.cSmallNav .cChoreoButton {
  border-radius: 0 !important;
}

.dropdown-menu.sm-menu.cSignUpMenu {
  position: absolute;
  right: 0;
  left: auto;
  width: 250px !important;

  border-radius: 6px;
  background-color: #f7f8fb;
  /* box-shadow: inset 0 -1px 0 0 #D3D4DD, 0 5px 50px 0 rgba(102,103,133,0.27); */

  padding: 20px 0px 10px 0;

  box-sizing: border-box;

  border: 5px solid #ffffff;
  border-radius: 12px;
  background-color: #f7f8fb;
  box-shadow: 0 10px 40px -10px rgba(32, 39, 86, 0.25);

  /* padding: 34px; */
}

.cSignInBox,
.cSignUpBox {
  box-sizing: border-box;

  border: 5px solid #ffffff;
  border-radius: 12px;
  background-color: #f7f8fb;
  box-shadow: 0 10px 40px -10px rgba(32, 39, 86, 0.25);
  display: inline-block;
  max-width: 447px;
  padding: 34px;
  position: absolute;
  left: 0;
}
.cSignInBox p,
.cSignUpBox p {
  font-size: 17px !important;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
}

.cSignUpBox h3 {
  margin-bottom: 12px;
}

.cSignInBox span.SignUpName,
.cSignUpBox span.SignUpName {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  color: #5567d5;
}
.cSignUpBox {
  max-width: none;
  padding: 20px;
  margin-top: -10px;
  z-index: 2;
}
.cSignUpBox a.cSocialButton {
  color: #000;
  border: 1px solid #f0f0f0;
  padding: 12px 12px 12px 36px;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 10px center;
  margin-right: 2px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  /* font-family: 'Montserrat', sans-serif !important; */
  /* max-width: 185px; */
  display: inline-block;
  /* font-family: Roboto, sans-serif !important; */
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.22px;
  line-height: 16px;
  margin-bottom: 10px;
  max-width: 330px;
  width: 186px;
  margin: 6px;
}

a.cSocialButton,
button.cSocialButton {
  color: #000;
  border: 1px solid #f0f0f0;
  padding: 12px 12px 12px 36px;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 10px center;
  margin-right: 2px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  /* font-family: 'Montserrat', sans-serif !important; */
  max-width: 185px;
  display: inline-block;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.22px;
  line-height: 16px;
  margin-bottom: 10px;
}
a.cSocialButton.cGoogle,
a.cSocialButton.cSInGoogle {
  background-image: url(//wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/icons/google-logo.svg);
}
a.cSocialButton.cGitHub,
a.cSocialButton.cSInGitHub {
  background-image: url(//wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/icons/github-logo.svg);
}
button.cSocialButton.cGuest {
  background-image: none;
  max-width: none;
  width: 97%;
  margin: 6px;
}
img.cExpand {
  position: absolute;
  display: none;
  bottom: -26px;
  right: 16px;
  width: 20px;
}
.CloseTop span {
  position: absolute;
  color: #333 !important;
  font-size: 35px;
  padding: 0;
  margin-top: -23px;
}

.modal-dialog {
  max-width: 1080px;
  margin-top: 8rem;
}

.modal-content {
  background-color: transparent;
}

.close {
  color: #fff;
  text-shadow: none;
}
.CloseTop span {
  position: absolute;
  color: #666 !important;
  font-size: 33px;
  padding: 0 0 0 15px;
  margin-top: -20px;
  margin-left: -23px;
}

.cSocialMedia {
  margin-left: 7px;
}

.cSocial-sidebar {
  background: #545cec !important;
  position: fixed;
  top: 50%;
  right: -50px;
  left: 0;
  width: 50px;
  padding-top: 0.5em;
  z-index: 99999;
}
.cHorizontalList.cSocialMedia li {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  color: #ffffff !important;
}
.cSocial-sidebar img {
  width: 40px;
}

.cHighlighted.cWhiteBG.cChoreoLibarary.cChoreoLibarayItems.cHighlightedReducePadding.cFeaturedItem {
  box-sizing: border-box;

  border: 1px solid #e6e7ec;
  border-radius: 8px;
  /* background-color: #E6E7EC; */
}

.cChoreoFilterContainer {
  height: 56px;
  width: 100% !important;
  border-radius: 32px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 77, 0.07);
}

.cChoreoFilterContainer .form-control {
  border: none;
}

.cChoreoFilterContainer .cChoreoButton {
  height: 40px;
  border-radius: 24px;
  /* background-color: rgba(255,255,255,0); */
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
td.cFilterTD {
  padding: 10px 10px 10px 40px !important;
}

.cFilterContainer {
  padding-bottom: 0;
}

.cContentTileWrapper h2 {
  color: #000000;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}

.cArticle .cIconContainer {
  background-image: url(//wso2.cachefly.net/wso2/sites/all/2021-theme/choreo/icons/article-2.svg);
  background-size: 32px;
  background-repeat: no-repeat;
}

.cFilterTD .cChoreoButton {
  height: 40px;
  border-radius: 24px;
  /* background-color: rgba(255,255,255,0); */
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.cMore.cUppercase.cFeaturedItemMoreLink {
  color: #5567d5;
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}
.cMore.cUppercase.cFeaturedItemMoreLink:hover {
  text-decoration: none !important;
}
@media screen and (max-width: 1348px) {
  .cChoreoSection.cIntro {
    background-size: 720px;
  }
}
@media screen and (max-width: 1172px) {
  .cChoreoSection li.nav-item {
    font-size: 12px;
    font-weight: 600;
  }
}
@media screen and (max-width: 992px) {
  .cSectionAboveHighlight {
    padding-bottom: 3rem !important;
  }
  .cChoreoSection h1 {
    font-size: 37px;
    line-height: 42px;
    margin-top: 2rem;
  }
  .cChoreoSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .cChoreoSection.cIntro {
    padding-top: 3rem !important;
    padding-bottom: 3rem;
  }
  .VideoR-one {
    height: auto;
    line-height: 0;
    margin-top: 2rem;
  }
  .cChoreoButton.cMainSignupButtom {
    margin-bottom: 1rem;
  }
  .cPurpleSec {
    background-image: none;
    background-color: #5567d5;
  }
  .cPurpleSecRevert {
    background-image: none;
    background-color: #5567d5;
  }
  img.cSmallIconx {
    padding-top: 1rem;
  }
  .cGrayBackgroundPannel {
    background-color: #f7f8fb;
    padding: 50px 0 190px;
    background-position: right 4rem;
  }
}
@media screen and (max-width: 1025px) {
  .cRightContent {
    padding-top: 0;
  }
  .dotnav {
    display: none;
  }
  .cGrayBackgroundPannel {
    background-position: right 12rem;
  }
  .cAICardContainer {
    margin-bottom: 20px;
  }

  #navbarDropdownMenuLink.cNavButton {
    margin-left: 0;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 1rem !important;
    line-height: 1.6rem;
    font-weight: 400 !important;
    letter-spacing: 0.01rem !important;
    margin: 0 0 0;
    padding: 0 10px !important;
    border-bottom: 0 !important;
  }
  .cChoreoNav.navbar.navbar-expand-lg.navbar-light.bg-light {
    box-shadow: none;
    padding-top: 1rem;
    margin-top: 60px;
    border-top: 1px solid #000 !important;
  }
  .cChoreoButton.cNavButton {
    width: 200px;
  }
  #navbarDropdownMenuLink.cNavButton {
    width: 100% !important;
  }
  .cVideoLink {
    margin-top: 40px;
    display: inline-block;
  }

  .cAICardContainer {
    height: auto;
  }

  .cTextCol {
    padding-top: 30px;
  }

  .cTextCol img {
    margin-bottom: 30px;
  }
}

.cIMP {
  display: inline-block;
  margin-top: 18px;
  text-align: center;
  width: 353px;
  /* background: red; */
  font-size: 12px;
  padding-left: 8px;
}

.cIMP span {
  float: left;
}
.cIMP img {
  width: 104px;
  margin-top: -2px;
  float: left;
  margin-left: 5px;
}
#Test1 {
  position: relative;
}

.cBrowserComatibility {
  text-align: left;
  font-size: 14px;
  padding: 7px;
  margin-top: 10px;
  line-height: 22px;
}

.cBrowserComatibility.showM {
  display: block;
}

@media screen and (max-width: 1310px) {
  #Test1 {
    /* position: static !important; */
    text-align: center !important;
    padding-bottom: 30px;
  }
  #Test1 button.cSocialButton.cGuest {
    /* background-image: none; */
    max-width: none;
    width: auto !important;
    margin: 40px 0 0 0px !important;
  }

  .cBrowserComatibility {
    font-size: 14px;
    padding: 7px;
    margin-top: 26px;
    line-height: 22px;
    position: static !important;

    text-align: left !important;
  }
}
@media screen and (max-width: 1025px) {
  .CloseTop span {
    color: #666 !important;
    top: 0;
  }
  .close span {
    color: #666 !important;
  }
}
@media screen and (max-width: 768px) {
  .sm_menu_outer.active {
    opacity: 1;
    z-index: 9999 !important;
  }
  .CloseTop span {
    color: #666 !important;
    top: 0;
  }
  .close span {
    color: #666 !important;
  }
  .cForm.cHighlighted {
    display: block;
  }
  img.BallerinaC {
    margin-top: 1rem;
  }
  .cChoreoSection h1 {
    margin-top: 0;
  }
  .cAICardContainerx {
    height: auto;
  }
  .cSecurityPanel {
    padding: 1rem 6rem;
  }
  #How1 {
    text-align: left;
  }
  .ChoDesktop {
    display: none;
  }
  .ChoMobile {
    display: block;
  }
  .cChoreoSection.cRightImage1,
  .cGrayBackgroundPannel,
  .cSpacer {
    background-image: none;
  }
  .cMObileImage {
    display: block;
  }
  .cSpacer {
    display: none;
  }
  .cSignUpBoxPop2 {
    width: 100% !important;
  }
  .cCenterTitleCOniatier {
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  .cSecurityPanel {
    padding: 1rem 1rem;
  }
  .DevDiagram {
    padding: 1rem;
  }
}
